<footer>
    <section id="mainFooter">
        <div class="container" id="footer">
            <div class="row">
                <div class="col-md-2 hidden-xs hidden-sm">
                    <div class="widget-content">
                        <img src="assets/images/halal.png" alt="Red Bistro" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-2 col-sm-3">
                    <div itemscope itemtype="http://schema.org/Corporation">
                        <h4 itemprop="name">{{AppUtil.AppName}}</h4>
                        <address>
                    <p>
                        <i class="fa fa-map-marker"></i> <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">{{AppUtil.Address}}</span><br>
                        <i class="fa fa-phone"></i> <span itemprop="telephone" dir="ltr">{{AppUtil.PhoneNumber}}</span><br>

                        <i class="fa fa-envelope"></i> <a itemprop="email" dir="ltr" href="mailto:{{AppUtil.Email}}]">{{AppUtil.Email}}</a>
                    </p>
                </address>
                    </div>
                </div>
                <div class="col-sm-3">
                    <h4>About us</h4>
                    <p> {{AppUtil.AboutUs}} </p>
                </div>
                <!-- <div class="col-sm-3 col-md-2">
                  <h4>Opening Hours</h4>
                  <p>
                      <b>Mon - Fri</b><br> 11:30am - 15pm<br> 18:30am - 21pm<br>
                      <b>​​Sat - Sun:</b><br> 11:45am - 16pm<br> 18:45am - 22pm
                  </p>
              </div> -->
                <div class="col-sm-3">
                    <ul class="nostyle">
                        <li>
                            <a href="#" title="" class="img-container small pull-left tips">
                                <img src="https://firebasestorage.googleapis.com/v0/b/lahori-kitchen-de4e5.appspot.com/o/images%2F1632464782655_5bb6f897-cbc0-4f02-9e2e-200c064b08f4.JPG?alt=media&token=c6b9cc3c-1f43-419e-a577-5d4b6a50d5f3" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#" title="" class="img-container small pull-left tips">
                                <img src="https://firebasestorage.googleapis.com/v0/b/lahori-kitchen-de4e5.appspot.com/o/images%2F1632464843790_7b67bedb-9540-430b-83f8-155903d415b5.JPG?alt=media&token=86222e48-b38e-4cf8-88d9-4c690c706d50" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#" title="" class="img-container small pull-left tips">
                                <img src="https://firebasestorage.googleapis.com/v0/b/lahori-kitchen-de4e5.appspot.com/o/images%2F1632464865191_7e32ceb4-3d61-40ba-ac7f-7d527f790846.JPG?alt=media&token=9d08fb8d-279e-4c53-bb6d-b15d2ec6275b" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#" title="" class="img-container small pull-left tips">
                                <img src="https://firebasestorage.googleapis.com/v0/b/lahori-kitchen-de4e5.appspot.com/o/images%2F1632467397598_b95c60d2-66e0-4429-8e1e-4f8db8ac9fa0.JPG?alt=media&token=8dfe1ca4-43ac-47c9-b704-a544c5b9e92f" alt="">
                            </a>
                        </li>
                        <!-- <li>
                          <a href="#" title="" class="img-container small pull-left tips">
                              <img src="assets/images/thumbs/thumb-footer-5.jpg" alt="">
                          </a>
                      </li>
                      <li>
                          <a href="#" title="" class="img-container small pull-left tips">
                              <img src="assets/images/thumbs/thumb-footer-6.jpg" alt="">
                          </a>
                      </li>
                      <li>
                          <a href="#" title="" class="img-container small pull-left tips">
                              <img src="assets/images/thumbs/thumb-footer-7.jpg" alt="">
                          </a>
                      </li>
                      <li>
                          <a href="#" title="" class="img-container small pull-left tips">
                              <img src="assets/images/thumbs/thumb-footer-8.jpg" alt="">
                          </a> -->
                        <!-- </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <div id="footerRights">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>
                        <a href="{{AppUtil.FacebookLink}}"><i class="iconCircle fa fa-facebook"></i></a>
                        <!-- <a href="#"><i class="iconCircle fa fa-twitter"></i></a>
                      <a href="#"><i class="iconCircle fa fa-google-plus"></i></a>
                      <a href="#"><i class="iconCircle fa fa-pinterest-p"></i></a> -->
                    </p>
                    <p>
                        &copy; Lahori Kitchen All rights reserved
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- end Footer -->
