<!-- Page content wrapper -->
<section id="page">
    <div class="container pt30 pb30">
        <div class="row">
            <div class="col-md-12">
                <!-- Heading -->
                <h1 class="text-center line-through">About us</h1>
                <p class="subtitle text-center handwritten mb10">We know what <span class="text-primary">good</span> means</p>
            </div>
        </div>
        <div class="row mt30 mb30">
            <div class="col-sm-12">
                <!-- Carousel 1 -->
                <div class="owl-carousel owlWrapper" data-items="1" data-singleItem="true" data-autoplay="true" data-dots="false" data-nav="false" data-rtl="false" data-transition="fade">
                    <!-- Slide 1 -->
                    <div class="row">
                        <div class="col-sm-6">
                            <img alt="" src="https://firebasestorage.googleapis.com/v0/b/lahori-kitchen-de4e5.appspot.com/o/images%2F1632467471296_d29bb002-cabc-4581-9e50-1c8d04bf4055.JPG?alt=media&token=1c3a1daa-014e-4f4d-9e70-bb362d8a707e" class="img-responsive" style="max-height:500px;">
                        </div>
                        <div class="col-sm-6">
                            <p class="subtitle mb10">High quality food</p>

                            <p class="body">
                                We provide high quality food with delicious taste & exquisite quality.
                            </p>
                        </div>
                    </div>
                    <!-- Slide 2 -->
                    <div class="row">
                        <div class="col-sm-6">
                            <img alt="" src="https://firebasestorage.googleapis.com/v0/b/lahori-kitchen-de4e5.appspot.com/o/images%2F1632464813561_6bdb78a9-f06d-4a04-a045-1139bc79505d.JPG?alt=media&token=356c6b5a-2ae6-4d19-b914-8bd59f601527" class="img-responsive" style="max-height:500px;">
                        </div>
                        <div class="col-sm-6">
                            <p class="subtitle mb10">A passionate story</p>
                            <p class="body">
                                A Desi Cuisine , with over 20 years of experience in the preparation of Pakistani food; ensuring exquisite quality, service and ambiance.
                            </p>

                        </div>
                    </div>
                    <!-- Slide 3 -->
                    <div class="row">
                        <div class="col-sm-6">
                            <img alt="" src="https://firebasestorage.googleapis.com/v0/b/lahori-kitchen-de4e5.appspot.com/o/images%2F1632464782655_5bb6f897-cbc0-4f02-9e2e-200c064b08f4.JPG?alt=media&token=c6b9cc3c-1f43-419e-a577-5d4b6a50d5f3" class="img-responsive" style="max-height:500px;">
                        </div>
                        <div class="col-sm-6">
                            <p class="subtitle mb10">Fine &amp; Authentic dishes</p>
                            <p class="body">
                                All of our dishes are tasty and superb. You will enjoy the worthful taste.
                            </p>
                            <!-- <p class="body">
                                Fusce vel velit sagittis, consequat sapien in, dictum libero. Suspendisse potenti. Nulla facilisi.
                            </p> -->
                        </div>
                    </div>
                </div>
                <!-- end Carousel 1 -->
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <p class="subtitle mb10">Friendly staff welcomes you</p>
                <p class="body">
                    We have a friendly staff, that is always ready to serve you with delicious dishes
                </p>
                <!-- <p class="body">
                    Duis convallis dictum purus, non rhoncus quam feugiat sed. Duis et rutrum mauris. Duis eu nisl nisl. Phasellus pretium ligula at ornare auctor. Sed faucibus nisl ac nisl semper, a lobortis tellus tempor.
                </p> -->
            </div>
            <div class="col-sm-6">
                <!-- Carousel 2 -->
                <div class="owl-carousel owlWrapper owl-theme" data-items="1" data-autoplay="true" data-dots="true" data-nav="false" data-rtl="false" data-transition="backSlide">
                    <!-- Slide 1 -->
                    <div class="item"><img alt="" src="	https://firebasestorage.googleapis.com/v0/b/lahori-kitchen-de4e5.appspot.com/o/images%2F1632467397598_b95c60d2-66e0-4429-8e1e-4f8db8ac9fa0.JPG?alt=media&token=8dfe1ca4-43ac-47c9-b704-a544c5b9e92f" class="img-responsive"
                            style="max-height:500px;"></div>
                    <!-- Slide 2 -->
                    <div class="item"><img alt="" src="	https://firebasestorage.googleapis.com/v0/b/lahori-kitchen-de4e5.appspot.com/o/images%2F1632467397598_b95c60d2-66e0-4429-8e1e-4f8db8ac9fa0.JPG?alt=media&token=8dfe1ca4-43ac-47c9-b704-a544c5b9e92f" class="img-responsive"
                            style="max-height:500px;"></div>
                    <!-- Slide 3 -->
                    <div class="item"><img alt="" src="https://firebasestorage.googleapis.com/v0/b/lahori-kitchen-de4e5.appspot.com/o/images%2F1632466917202_03953e6f-2ff6-4d6a-b481-f28ff7b37bc6.JPG?alt=media&token=d4d8bdb9-0853-485a-9e0f-4df5db99e18e" class="img-responsive"
                            style="max-height:500px;"></div>
                </div>
                <!-- end Carousel 2 -->
            </div>
        </div>
    </div>
</section>
<!-- end Page content wrapper -->
<!-- Table booking -->
<app-footer></app-footer>
