<!-- end About us -->
<!-- Table booking -->
<div class="player" data-property="{videoURL:'FOLHgoRcMHU', containment:'#reservation-wrapper', showControls:false, autoPlay:true, loop:true, vol:50, mute:true, startAt:0, opacity:1, addRaster:false, quality:'default'}"></div>
<section id="reservation-wrapper" class="bg-video">
    <div class="container video-content">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h3 class="line-through">Make a reservation</h3>
                <p>You want a delicious taste now? Just tell it!<br> {{appUtil.PhoneNumber}}</p>
                <a class="btn btn-default btn-lg mt20 appear" data-delay="500" data-anim="pulse" href="tel:{{appUtil.LinkPhoneNumber}}"><i class="fa fa-ticket"></i> Book a Reservation !</a>
            </div>
        </div>
    </div>
</section>
<!-- end Table booking -->
